[Unit]
Description=Ultra Tracker
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
Environment="COMPOSE_PROJECT_DIR=/proj/ultra_tracker"
Environment="COMPOSE_FILE=/proj/ultra_tracker/docker-compose.yml"
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down -t 2
Restart=always

[Install]
WantedBy=multi-user.target
