[Unit]
Description=Ultra Tracker
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/ultra-tracker
ExecStart=%h/.local/bin/podman-compose up -d
ExecStop=%h/.local/bin/podman-compose stop
TimeoutStopSec=10

[Install]
WantedBy=default.target
