[Unit]
Description=Ultra Tracker
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=~/ultra-tracker
ExecStart=~/.local/bin/podman-compose up -d
ExecStop=~/.local/bin/podman-compose stop
TimeoutStopSec=10

[Install]
WantedBy=default.target
