/* Navigation Bar */
nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000; 
  background-color: #081839;
}

.nav-wrapper {
  background-color: #263238; /* Material dark grey background */
  padding: 0 5px;
}

#nav-mobile {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
  margin: 0;
  padding: 0;
}

#nav-mobile li {
  list-style-type: none;
  margin-right: 8px;
  font-size: 20px;
}

.tab-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 12px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.tab-link:hover,
.tab-link.active {
  background-color: #546E7A; /* Hover & active state background */
  border-radius: 4px;
}

/* Page Header */
.page-header {
  color: #263238;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Tables */
.stats-table, .course-table {
  width: 100%;
  table-layout: fixed; 
}

.stats-table th,
.course-table th,
.stats-table td,
.course-table td {
  padding: 15px;
  text-align: left;
  background-color: white;
  color: black;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

.stats-table th,
.course-table th {
  background-color: #37474F; /* Dark material grey */
  color: white;
  font-size: 16px;
}

.stats-table td,
.course-table td {
  background-color: white;
}

/* Accordion */
.accordion {
  width: 100%;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  width: 100%;
  text-align: left;
  font-weight: bold;
  background-color: #ECEFF1;
  color: #37474F;
  border: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.accordion-button:hover {
  background-color: #CFD8DC;
}

.accordion-body {
  padding: 10px;
}

.accordion-item .completed-item {
  background-color: #FFFFFF;
  color: #000000;
}

.accordion-item .not-completed-item {
  background-color: #B0BEC5;
  color: #37474F;
}

/* Map */
#map {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Active Tab Indicator */
.tab-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #42A5F5; /* Light blue for material accent */
  border-radius: 2px;
}

.tab-content {
    display: none; /* Hide all tab content by default */
    padding-top: 80px; /* This creates space for the dropdown */
}

.tab-content.active {
    display: block; /* Show active tab content */
}
